.borrowed-books {
    padding: 2rem;
    background-color: antiquewhite;    
}

.borrowed-books h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: #333;
}

.borrowed-books-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.borrowed-book {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.borrowed-book-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.borrowed-book-info {
    padding: 1rem;
}

.borrowed-book-info h3 {
    margin: 0;
    color: #333;
}

.borrowed-book-info p {
    margin: 0.5rem 0;
    color: #555;
}
