/* Details.css */

.details-bg {
    min-height: 100vh;
    background: url('../images/UserBooks.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    animation: backgroundMove 10s infinite alternate;
}

.details-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 3rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    max-width: 85%;
}

.image-container {
    flex: 1;
    max-width: 200px;
    margin-right: 2rem;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info {
    flex: 2;
    text-align: left;
    margin-left: 2rem;
}

.info h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 1rem;
}

.info p {
    font-size: 1.25rem;
    color: #555555;
    margin: 0.5rem 0;
}

.button-group {
    display: flex;
    gap: 1rem;
}

.edit-button {
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: #fff;
    background-color: #3e8c3e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 30px;
    transition: background-color 0.3s ease;
}

.edit-button:hover {
    background-color: rgb(54, 54, 44);
}

.delete-button {
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: #fff;
    background-color: #b73939;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 30px;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: rgb(54, 54, 44);
}

.borrowed-button {
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: #fff;
    background-color: #3f39b7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 30px;
    transition: background-color 0.3s ease;
}

.borrowed-button:hover {
    background-color: rgb(54, 54, 44);
}
